*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
#container{
    width: 70%;
    min-height: 100vh;
    height: auto;
    margin : 0 auto;
    border : 1px solid gray;
}
#content{
    padding: 10px;
    text-align: justify;
}
#footer{
    text-align: center;
    font-weight: normal;
}
